In [169]:
import numpy as np
import pandas as pd

In [170]:
cardio_data = pd.read_csv('cardio_data.csv', sep = ';')
cardio_data.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [171]:
# changing column names
cardio_data.rename(columns = {'ap_hi': 'blood_pressure_max', 'ap_lo': 'blood_pressure_min', 'cholesterol': 'cholesterol_level', 'gluc': 'glucose_level', 'smoke': 'smoking_status', 'alco': 'alcohol_status', 'active': 'activity_level', 'cardio': 'disease'}, inplace = True)
# casting datatypes
cardio_data['height'] = cardio_data['height'].astype('float')
cardio_data['gender'] = cardio_data['gender'].astype('category')
cardio_data['cholesterol_level'] = cardio_data['cholesterol_level'].astype('category')
cardio_data['glucose_level'] = cardio_data['glucose_level'].astype('category')
cardio_data['smoking_status'] = cardio_data['smoking_status'].astype('category')
cardio_data['alcohol_status'] = cardio_data['alcohol_status'].astype('category')
cardio_data['activity_level'] = cardio_data['activity_level'].astype('category')
cardio_data['disease'] = cardio_data['disease'].astype('category')
# converting age from days to years
cardio_data['age'] = cardio_data['age'] // 365
# calculating bmi
cardio_data['bmi'] = cardio_data['weight'] / (cardio_data['height'] / 100)**2

In [168]:
# changing sign of negative blood pressure values
cardio_data['blood_pressure_min'] = cardio_data['blood_pressure_min'].map(lambda x: -1 * x if x < 0 else x)
cardio_data['blood_pressure_max'] = cardio_data['blood_pressure_max'].map(lambda x: -1 * x if x < 0 else x)
# calculating blood pressure difference
cardio_data['blood_pressure_diff'] = cardio_data['blood_pressure_max'] - cardio_data['blood_pressure_min']
# dropping rows with diastolic blood pressure > systolic blood pressure
cardio_data = cardio_data.loc[cardio_data['blood_pressure_diff'] > 0]
# dropping rows with unreasonable bmi values
cardio_data = cardio_data.loc[(cardio_data['bmi'] > 17.5) | (cardio_data['bmi'] < 50)]

SyntaxError: unexpected EOF while parsing (<ipython-input-168-b821839b6ddc>, line 9)

In [172]:
cardio_data.loc[(cardio_data['bmi'] > 17.5) | (cardio_data['bmi'] < 50)]

,id,age,gender,height,weight,blood_pressure_max,blood_pressure_min,cholesterol_level,glucose_level,smoking_status,alcohol_status,activity_level,disease,bmi
0,0,50,2,168.0,62.0,110,80,1,1,0,0,1,0,21.967120
1,1,55,1,156.0,85.0,140,90,3,1,0,0,1,1,34.927679
2,2,51,1,165.0,64.0,130,70,3,1,0,0,0,1,23.507805
3,3,48,2,169.0,82.0,150,100,1,1,0,0,1,1,28.710479
4,4,47,1,156.0,56.0,100,60,1,1,0,0,0,0,23.011177
5,8,60,1,151.0,67.0,120,80,2,2,0,0,0,0,29.384676
6,9,60,1,157.0,93.0,130,80,3,1,0,0,1,0,37.729725
7,12,61,2,178.0,95.0,130,90,3,3,0,0,1,1,29.983588
8,13,48,1,158.0,71.0,110,70,1,1,0,0,1,0,28.440955
9,14,54,1,164.0,68.0,110,60,1,1,0,0,0,0,25.282570
10,15,61,1,169.0,80.0,120,80,1,1,0,0,1,0,28.010224
11,16,51,2,173.0,60.0,120,80,1,1,0,0,1,0,20.047446
12,18,40,2,165.0,60.0,120,80,1,1,0,0,0,0,22.038567
13,21,54,1,158.0,78.0,110,70,1,1,0,0,1,0,31.244993
14,23,39,2,181.0,95.0,130,90,1,1,1,1,1,0,28.997894
15,24,45,2,172.0,112.0,120,80,1,1,0,0,0,1,37.858302
16,25,58,1,170.0,75.0,130,70,1,1,0,0,0,0,25.951557
17,27,45,1,158.0,52.0,110,70,1,3,0,0,1,0,20.829995
18,28,47,1,154.0,68.0,100,70,1,1,0,0,0,0,28.672626
19,29,59,2,162.0,56.0,120,70,1,1,1,0,1,0,21.338211
20,30,54,2,163.0,83.0,120,80,1,1,0,0,1,0,31.239414
21,31,58,1,157.0,69.0,130,80,1,1,0,0,1,0,27.993022
22,32,63,1,158.0,90.0,145,85,2,2,0,0,1,1,36.051915
23,33,64,2,156.0,45.0,110,60,1,1,0,0,1,0,18.491124
24,35,45,1,170.0,68.0,150,90,3,1,0,0,1,1,23.529412
25,36,39,1,153.0,65.0,130,100,2,1,0,0,1,0,27.767098
26,37,53,1,156.0,59.0,130,90,1,1,0,0,1,0,24.243918
27,38,49,1,159.0,78.0,120,80,1,1,0,0,1,0,30.853210
28,39,39,2,166.0,66.0,120,80,1,1,0,0,1,0,23.951227
29,40,57,2,169.0,74.0,130,70,1,3,0,0,0,0,25.909457
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69970,99958,61,2,173.0,103.0,140,80,3,1,1,1,0,1,34.414782
69971,99959,55,2,177.0,80.0,130,80,1,1,0,0,1,0,25.535446
69972,99960,46,1,165.0,76.0,140,90,1,1,0,0,1,1,27.915519
69973,99961,60,2,175.0,72.0,130,80,1,1,0,0,1,0,23.510204
69974,99962,49,1,168.0,75.0,120,80,1,1,0,0,1,0,26.573129
69975,99963,58,2,182.0,100.0,120,80,1,1,0,0,1,1,30.189591
69976,99964,59,1,163.0,65.0,120,80,2,2,0,0,1,0,24.464602
69977,99965,46,1,168.0,75.0,120,79,1,1,0,0,1,0,26.573129
69978,99967,51,1,163.0,78.0,90,60,1,1,0,0,1,1,29.357522
69979,99969,61,1,163.0,74.0,160,100,2,2,0,0,1,1,27.852008
69980,99971,48,2,167.0,69.0,110,80,1,1,0,1,0,0,24.740937
69981,99972,47,2,182.0,110.0,130,90,2,2,0,0,1,1,33.208550
69982,99973,51,1,153.0,86.0,130,90,1,2,0,0,1,1,36.738007
69983,99974,53,1,165.0,72.0,120,80,1,1,0,0,1,0,26.446281
69984,99975,49,2,168.0,80.0,120,80,1,1,0,0,1,1,28.344671
69985,99977,49,1,156.0,102.0,130,80,1,1,0,1,0,1,41.913215
69986,99978,49,2,180.0,78.0,120,80,1,1,0,0,1,0,24.074074
69987,99979,51,1,151.0,49.0,120,80,1,1,0,0,1,0,21.490286
69988,99981,60,1,160.0,59.0,110,70,1,1,0,0,1,0,23.046875
69989,99985,57,1,157.0,83.0,120,70,1,1,0,0,1,1,33.672766
69990,99986,41,1,168.0,72.0,110,70,1,1,0,0,1,1,25.510204
69991,99988,56,1,159.0,72.0,130,90,2,2,0,0,1,0,28.479886
69992,99990,51,1,161.0,56.0,170,90,1,1,0,0,1,1,21.604105
69993,99991,53,1,172.0,70.0,130,90,1,1,0,0,1,1,23.661439
69994,99992,57,1,165.0,80.0,150,80,1,1,0,0,1,1,29.384757
69995,99993,52,2,168.0,76.0,120,80,1,1,1,0,1,0,26.927438
69996,99995,61,1,158.0,126.0,140,90,2,2,0,0,1,1,50.472681
69997,99996,52,2,183.0,105.0,180,90,3,1,0,1,0,1,31.353579
69998,99998,61,1,163.0,72.0,135,80,1,2,0,0,0,1,27.099251
69999,99999,56,1,170.0,72.0,120,80,2,1,0,0,1,0,24.913495